<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Options</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-button expand="block" (click)="presentSaveModal()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save File
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button expand="block" (click)="presentLoadModal()">
        <ion-icon slot="start" name="folder-open"></ion-icon>
        Load File
      </ion-button>
    </ion-item>
  </ion-list>

   <!-- Save File Modal -->
   <ion-modal [isOpen]="isSaveModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Save File</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item *ngFor="let file of files">
          <ion-label>{{file}}</ion-label>
          <ion-button slot="end" (click)="saveExistingFile(file)">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            Save
          </ion-button>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="stacked">New File Name</ion-label>
          <ion-input [(ngModel)]="fileName" placeholder="Enter file name"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="saveFile()">Save</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

<!-- Load File Modal -->
<ion-modal [isOpen]="isLoadModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Load File</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let file of files">
          <ion-label>{{file}}</ion-label>
          <ion-button slot="end" (click)="loadFile(file)">
            <ion-icon slot="start" name="download"></ion-icon>
            Load
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
