ion-button{
    margin-top: 50px;
}

ion-input, ion-textarea {
    --highlight-color-valid: black;
    --color-valid: black;
    color: black;
  }
  
  /* Stel de kleur in op rood wanneer de input ongeldig is */
  ion-input.ng-invalid {
    --highlight-color-invalid: var(--ion-color-danger);
    --color-invalid: var(--ion-color-danger);
  }


.limited-textarea {
    max-height: calc(70vh - 100px);
    overflow-y: auto;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }