.checkbox{
    margin-right: 10px;
    margin-bottom: 10px;
}

// smiley
.smiley {
    margin-bottom: 10px;
}

.fixed-smiley {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: var(--ion-background-color);
  }

// smiley tot hier