<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- smiley -->
  <div class="fixed-smiley">
    <app-smiley></app-smiley>
  </div>
  <!-- smiley tot hier -->

  <!-- <ion-card *ngFor="let taak of this.taakService.getTaken()"> -->
  <ion-card *ngFor="let taak of tasks">
    <ion-card-header>
      <ion-card-title>{{ taak.toDo }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      {{ taak.beschrijving }}
    </ion-card-content>
    <ion-checkbox labelPlacement="end" justify="end" class="checkbox" [(ngModel)]="taak.done" (ngModelChange)="onTaskStatusChange()">Done</ion-checkbox>
    <ion-button color="danger" (click)="deleteTask(taak)">
      <ion-icon name="trash"></ion-icon>
      Delete
    </ion-button>
  </ion-card>

</ion-content>
